.htaccess
wp-config.php
wp-config.php.sample
wp-config-sample.php
wp-content/plugins/ditty-twitter-ticker/assets/cache/list-diputados-lxii-twitter-cache
login/config.php
bk/
wp-content/uploads/2015/02/curul501.wordpress.2015-02-23.xml_.txt
