@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url(fonts/stylesheet.css);

/* General Custom CSS */
/*
Desktop Styles
================================================== */
/** body **/
body {
     background: url("images/background.png") repeat-x 0 0;
     font-family:'colaborate-thinregular';}
     
/** generales**/
p{
    font-family:'colaborate-thinregular';
    font-size:18px;
     color: rgba(68, 68, 68, 0.8);
    
}
a:hover{text-decoration:none;}
#main, .html_stretched #wrap_all {
    background-color: #f4f4f4;
    
}
#main {
    height: calc(100% - 156px);
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 0;
    z-index: 2;
}

.alternate_color, .alternate_color .site-background, .alternate_color .first-quote, .alternate_color .related_image_wrap, .alternate_color .gravatar img .alternate_color .hr_content, .alternate_color .news-thumb, .alternate_color .post-format-icon, .alternate_color .ajax_controlls a, .alternate_color .tweet-text.avatar_no, .alternate_color .toggler, .alternate_color .toggler.activeTitle:hover, .alternate_color #js_sort_items, .alternate_color.inner-entry, .alternate_color .grid-entry-title, .alternate_color .related-format-icon, .grid-entry .alternate_color .avia-arrow, .alternate_color .avia-gallery-big, .alternate_color .avia-gallery-big, .alternate_color .avia-gallery img, .alternate_color .grid-content, .alternate_color .av-share-box ul, #top .alternate_color .av-related-style-full .related-format-icon, .alternate_color .related_posts.av-related-style-full a:hover, .alternate_color.avia-fullwidth-portfolio .pagination .current, .alternate_color.avia-fullwidth-portfolio .pagination a {
    background-color: transparent;
    color: #666666;
}
.entry-content-wrapper{
    border:0;
}
.white {
    background:#fff;
    box-shadow:0 0 6px rgba(0, 0, 0, 0.1);
}
.post-entry{
    background:#fff;
    box-shadow:0 0 6px rgba(0, 0, 0, 0.1);
}
.content {
    border-right-style: solid;
    border-right-width: 0;
    margin-right: -1px;
}
.fullsize .content .entry-content-wrapper {
    padding-right: 0;
}
.home-page > #wrap_all > #main > .container_wrap > .container > .content .entry-content-wrapper {
    margin-top: -4px;
    padding: 0;
}
.content .entry-content-wrapper {
    padding: 10px;
}
.main_color{
    background:#f4f4f4;
    border: 0 solid #f4f4f4;
    margin-bottom:60px;
    
}

.container {
    clear: both;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}
.top60 {
    margin-top: 65px;
}
.post {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 10px;
}
.template-blog .blog-meta {
    float: left;
    margin-left: 30px;
    margin-right: 50px;
}
.template-single-blog {
    background: none repeat scroll 0 0 #fff;
    margin: 43px auto;
    padding: 0 30px;
    box-shadow:0 0 6px rgba(0, 0, 0, 0.1);
}
.multi-big .post_author_timeline, .single-small .post_author_timeline {
    border-right-style: dashed;
    border-right-width: 0;
    height: 100%;
    left: 40px;
    position: absolute;
    top: 0;
    width: 1px;
}
.inner_sidebar {
    margin-left:0px;
}
.main_color aside{
    border:0 solid #f4f4f4;
}
h1.entry-title-yellow {
    background: none repeat scroll 0 0 #eabb67;
    color: white;
    display: inline-block;
    font-family: 'Oswald';
    font-size: 31px;
    font-weight: 400;
    letter-spacing: -0.01em !important;
    margin-bottom: 0;
    padding: 3px 6px 2px;
    text-transform: uppercase;
}

h1.title-sidebar {
    background: none repeat scroll 0 0 #29193E;
    color: white;
    display: block;
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 0;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: -0.01em !important;
}
.title_container .main-title {
    background: none repeat scroll 0 0 #eabb67;
    display: inline-block;
    font-family: oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    min-height: 36px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    z-index: 2;
}
.title_container .main-title > a {
    color:#fff !important;
}
h3.widgettitle{
    background: none repeat scroll 0 0 #3e2f52;
    color: #fff;
    font-family: oswald;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding: 10px;
}

img.bullet-sb{
    margin: -4px 8px 0 0;
    top: 2px;
    vertical-align: middle;
}
.line-amarilla {
    background: none repeat scroll 0 0 #eabb67;
    height: 2px;
    margin-top: -2px;
    width: 100%;
}
.linea-morado {
    background: none repeat scroll 0 0 #d5d2d7;
    display: block;
    height: 1px;
    margin-bottom: 12px;
    margin-right: 38px;
    margin-top: 0;
    width: 100%;
}
div.post-entry-25 {
    padding-right: 50px;
}
.post-entry-25 > .entry-content-wrapper {
    padding: 0px;
    margin-top:43px;
}
.pleca-29193E {
    border-bottom: 4px solid #512b60 !important;
}
.pleca-624070 {
    border-bottom: 4px solid #624070 !important;
}
.container_wrap .container_wrap_first .main_color .sidebar_right{
    background-color: #f5f5f5;
}
/** header **/
#header_meta {
    background: none repeat scroll 0 0 #432b4d;
    min-height: 30px;
    z-index: 10;
}

#top .av_header_transparency #header_meta {
    background: none repeat scroll 0 0 #432b4d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: none;
}

.avia-menu.av_menu_icon_beside {
    border-right-style: solid;
    border-right-width: 0px;
    margin-right: 0;
    padding-right: 0;
}
    #header_main {
    background: url("images/background.png") repeat-x scroll 0 -32px rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 0;
    z-index: 1;
}
.av_header_transparency > #header_main {
    background-image: none;
    background-color:rgba(0, 0, 0, 0);
}
    .main_menu {
        background: url("images/bg-left-nav.png") no-repeat bottom left;
       
   
    }
    .av-main-nav-wrap ul {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    margin: 0 0 0 55px;
    padding: 0;
    }
    .html_header_top #top .av_header_stretch .container{width: 100%;}
    #header_main .container, .main_menu ul:first-child > li a {
        height: 70px;
        line-height:70px;    
    }   
    strong.logo {
        margin-left: 25px;
        margin-top: 14px;
    }
    .av-main-nav > li > a {
        color: #34213d !important;
        font-family: 'Oswald' !important;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
    }   
    
    #header_main nav .social_bookmarks {
    background: none repeat scroll 0 0 #FFFFFF !important;
    clear: none;
    float: left;
    height: 70px;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 20px 0 0 8px;
    position: relative;
    right: 0;
    top: 0;
    }
    #top .social_bookmarks li {
    border-right-style: solid;
    border-right-width: 0px;
    display: block;
    float: left;
    height: 20%;
    padding: 0;
    transition: all 0.2s ease-in-out 0s;
    width: 30px;
    }
    #top .social_bookmarks li a {
    display: block;
    float: left;
    height: 100%;
    line-height: 30px;
    margin: 0;
    min-height: 28px;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 28px;
    z-index: 2;
    }
    .team-social a{
        color: #34213D !important;
    }
    #top #wrap_all .av-social-link-facebook:hover  a{color:#624070 !important; background-color:#fff; }
    #top #wrap_all .av-social-link-twitter:hover   a{color:#624070 !important; background-color:#fff; }
    #top #wrap_all .av-social-link-mail:hover      a{color:#624070 !important; background-color:#fff; }
    #top #wrap_all .av-social-link-gplus:hover     a{color:#624070 !important; background-color:#fff; }
    #top #wrap_all .av-social-link-linkedin:hover  a{color:#624070 !important; background-color:#fff; }
    #top #wrap_all .av-social-link-comment:hover  a{color:#624070 !important; background-color:#fff; }
    
    /** home iniciativas **/
a.iniciativas-home{color:#676767;}
a.iniciativas-home:hover{color:#624070;}
.post_date {
    color: #512b60;
    display: block;
    float: left;
    font-family: colaborate-thinregular;
    font-size: 12px;
    min-height: 40px;
    overflow: hidden;
    padding-right: 15px;
    padding-top: 7px;
    text-align: center;
    text-transform: uppercase;
}
  .post_date span {
    color: #512b60;
    display: block;
    font-family: oswald;
    font-size: 41px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 8px;
}
.datos {
    display: block;
    float: left;
    font-family: colaborate-thinregular;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
span.datos{
    display: inline-block;
    margin-top: 4px;
    vertical-align: middle;
}
.topTop {
    margin-top: -20px !important;
}
.col-status {
    display: block;
    float: left;
    min-height: 1px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 30.333%;
    z-index: 1;
}
.col-status-1 {
    display: block;
    float: left;
    min-height: 1px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 32%;
    z-index: 1;
}
.col-status-2 {
    display: block;
    float: left;
    min-height: 1px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 37%;
    z-index: 1;
}
.in-box-share{
    width:50%;
}
.logo-partido img {
    display: block;
    margin: auto;
}
.logo-partido span {
    display: inline-block;
    font-size: 10px;
    line-height: 12px;
    margin-top: 6px;
    text-align: center;
}
.vta-curul {
    background: url("images/bg-vta-recientes.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    bottom: 0;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 34.99%;
}
.vta-curul span {
    color: #512b60;
    display: inline-block;
    font-family: 'colaborate-regular';
    font-size: 12px;
    padding-top: 4px;
    vertical-align: middle;
}
.votos-oficiles {
    color: #9991a8;
    display: block;
    font-family: 'oswald';
    font-size: 38px;
    line-height: 44px;
}
.photo-avatar img {
    margin: auto;

}
.temporizador img {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 27px;
    width: auto;
}
.leftRI {
    border-left: 1px solid #988fa7;
    height: 100px !important;
    margin-left: 0 !important;
    width: 35.33% !important;
}
.pleca-hr{
    background:#988fa7;
    height:100%;
    width:1px;
}
    
.entry-content {
    min-height: 52px;
    overflow: hidden;
    padding-right: 15px;
}
.entry-status {
    min-height: 52px;
    overflow: hidden;
    padding:0 20px 0 5px;
}

p.resemen-recientes-iniciativas {
    margin: 0;
    padding: 0;
}
    
    /**silder home **/   
   .parrafo-sl1 > p{
        color:#676767;
        font-family:'colaborate-thinregular';
        font-size:22px;
        line-height: 23px;
        
    }
    h1.titulo1{
        color:#D3B166;
        font-family:'Oswald';
        font-size:27px;
        font-weight:400;
        text-transform:uppercase;
    }
    h2.titulo2{
        color:#512B60;
        font-family:'Oswald';
        font-size:54px;
        font-weight:400;
        text-transform:uppercase;
    }
    .boton{
        color:#fff !important;
        cursor:pointer;
        background:#EABB67;
        border-radius:0;
        outline: 0 none;
        text-decoration: none;
        padding: 9px 22px;
        margin-top:10px;
        font-size:18px;
    }
     /** footer**/
    #buscador.desktop {
        width: 100%;
     }
     #buscador {
        background: none repeat scroll 0 0 #3E2F52;
        bottom: 0;
        height: 55px;
        left: 0;
        position: fixed;
        transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1) 300ms;
        width: 100%;
        z-index: 10;
    }
    .desktop {
        display: block !important;
    }
     /** cpt single iniciativas**/
    .iniciativa {
    padding: 30px 30px 30px 0;
    }
    .iniciativa > .entry-content-wrapper .post-title h1 {
    font-family: 'colaborate-thinregular';
    font-size: 28px;
    line-height: 1.3em;
    }
    .iniciativa > .entry-content-wrapper .post-title h2 {
    font-family: 'colaborate-thinregular';
    font-size: 20px;
    line-height: 1.3em;
    }
    .cpt-iniciativa {
    margin-right: 50px;
    }   
    #top #main .sidebar {
    border-left-width: 0px;

    }
    .content, .sidebar {
    padding-top: 35px;
    }
    .sidebar-votos {
        background: none repeat scroll 0 0 #512b60;
        display: block;
        padding: 26px;
        width: 100%;
    }
    .vota {
        color: #fff;
        display: block;
        font-family: 'Oswald';
        font-size: 46px;
        font-weight: 300;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
    }
    .encurul{
        font-family: 'Oswald';
        font-weight:300;
        color:#fff;
        font-size:17px;
        text-transform:uppercase;
        text-align:center;
        
    }
    /** share social **/
.av-share-box {
    background:#FFF !important;
    clear: both;
    float: left;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 19px;
    padding: 0;
    width: 100%;
}
.av-share-box ul li {
    border-left-style: solid;
    border-left-width: 0 ;
    display: table-cell;
    margin: 0;
    padding: 0;
}
.av-share-box ul{border-width: 0;border-color:transparent;background-color:transparent !important;width: 91%;width: 91%;text-align:left;}
.av-share-box ul li:first-child {border: medium none;}
.av-share-box ul li a {padding: 0;color:#9991A8 !important;font-size: 12px;}
.av-share-box-list{border:0 solid #fff;}
/** sort data iniciativas**/
.box-menu{ margin-top:10px;}  
#top .input-text, #top input[type="text"], #top input[type="input"], #top input[type="password"], #top input[type="email"], #top input[type="number"], #top input[type="url"], #top input[type="tel"], #top input[type="search"], #top textarea, #top select {
    background: none repeat scroll 0 0 #f4f4f4;
    display: block;
    font: 15px "colaborate-thinregular";
    height: 36px;
   

}


#filter{
    background-color:transparent;
    float: left;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-appearance: window;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display:block;
     position: relative;
}
#filter:after {
    background: url("images/flecha-morada.png") no-repeat scroll 12px center #f4f4f4;
    border-top: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    border-left: 0 solid #c1c1c1;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 36px !important;
    margin-right: 8px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.sort{
    background: none repeat scroll 0 0 #f4f4f4 !important;
    font-family: colaborate-thinregular !important;
    font-size: 14px !important;
    border: 1px solid #c1c1c1 !important;
}
#filter select.sort:hover{
    color:#624070!important;
}

#filter select.sorter-tema{
    width:99px;
    margin-right:10px;
}
#filter select.sorter-proponente{
    width:138px;
    margin-right:10px;
}
#filter select.sorter-partido{
    width:103px;
    margin-right:10px;
}
#filter select.sorter-comision{
    width:190px;
    margin-right:10px;
}
#filter select.sorter-turno{
    width:145px;
    margin-right:10px;
}
#filter select.sorter-votacion{
    width:160px;
    margin-right:10px;
}

#filter select.sorter-estado {
    margin-right: 10px;
    width: 125px;
}


@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */
  
    /**home**/
    div.post-entry-25 {
    padding-right: 0px;
    }
    .topTop {
        margin-top:0 !important;
    }
    .leftRI {
        width: 100% !important;
         border-left:0px solid;
         border-top:1px solid #ccc;
    }
    span.datos{
    display: inline-block;
    margin-top: 4px;
    vertical-align: middle;
    }
    .top12{
    padding-top: 12px;   
    }
    .vta-curul{
        width:100%;
    }
    .box-menu{
    margin-top:20px !important;
    }   
    #filter {
    float: none;
    margin: 0;     
    }
    #filter:after {
        margin-right: 0;
    }
    #filter select.sorter-tema {
        margin-right:0px;
        width:100%;
    }
    #filter select.sorter-proponente {
        margin-right:0px;
        width:100%;
    }
    #filter select.sorter-partido {
        margin-right:0px;
        width:100%;
    }
    #filter select.sorter-comision {
        margin-right:0px;
        width:100%;
    }
    #filter select.sorter-turno {
        margin-right:0px;
        width:100%;
    }
    #filter select.sorter-votacion {
        margin-right:0px;
        width:100%;
    }
    #filter select.sorter-estado {
        margin-right:0px;
        width:100%;
    }
    }
    /** iniciativas archive **/

    
